<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561645712215-dhj1e92k4kvqmqj95kbc6uo06cvqpn49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561645712215-dhj1e92k4kvqmqj95kbc6uo06cvqpn49</string>
	<key>API_KEY</key>
	<string>AIzaSyBUYumDv_nGy1ygSvP3QLG5u5vfkQi8HyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>561645712215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.egt.bookstracker</string>
	<key>PROJECT_ID</key>
	<string>bookstracker-9a75c</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstracker-9a75c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561645712215:ios:427d54e5486830e05c4412</string>
</dict>
</plist>